In [28]:
#importando a biblioteca
import pandas as pd

In [29]:
#Lendo o arquivo csv
df = pd.read_csv('dados.csv',index_col=0)
#Print do dataset
df

                Nome  Idade  Gasto Mensal Gênero Estado Data de Cadastro
ID
1          Ana Souza   56.0        349.67      M     SP       2023-01-15
2        Carlos Lima   32.0        449.25      M     SC       2023-05-30
3         Maria Melo   38.0           NaN      F     PR       2023-03-10
4         João Silva   36.0        302.57      F     RJ       2023-02-20
5       Juliana Dias   28.0         68.20      M     MG       2023-01-15
6        Lucas Rocha   53.0         61.44      F     RJ       2023-01-15
7         Paula Reis   20.0        336.38      F     PR       2023-05-30
8      Ricardo Sousa   19.0        362.98      F     SP       2023-04-25
9       Amanda Costa   47.0        292.93      M     SP       2023-03-10
10    Fernanda Alves   38.0         84.64      F     PR       2023-04-25
11      Marcos Pinto   39.0           NaN    NaN     SP       2023-03-10
12      Bruno Santos   42.0        335.03      F     SP       2023-04-25
13   Letícia Moreira   59.0           NaN    Fem     MG       2023-01-15
14      Thiago Nunes   33.0        292.70      F     SP       2023-03-10
15   Vanessa Freitas   64.0        458.07      M     PE       2023-01-15
16     Diego Martins   61.0        242.20      F     SP       2023-01-15
17     Roberta Lopes   20.0        187.15      F     PR       2023-02-20
18     Gustavo Ramos   24.0        237.83   Masc     MG       2023-01-15
19    Patrícia Souza   56.0        201.00      M     SC       2023-01-15
20    Pedro Henrique    NaN        195.44      F     RJ       2023-02-20
21    Camila Andrade   26.0        367.00      F     SP       2023-05-30
22     Rafael Vieira   19.0        483.10      F     AM       2023-01-15
23     Isabela Moura   64.0        162.00      M     BA       2023-01-15
24  Leonardo Almeida   61.0        170.05    NaN     PE       2023-04-25
25    Tatiane Mendes   64.0        273.00      F     RJ       2023-05-30
26    Felipe Barbosa   34.0        157.80      M     SP       2023-02-20
27  Alessandra Costa   57.0        251.50   Masc     RJ       2023-03-10
28   Rodrigo Cardoso   23.0        352.46      F     RS       2023-04-25
29   Larissa Ribeiro   21.0        158.97    NaN     RJ       2023-01-15
30    Eduardo Campos   35.0        334.54      M     BA       2023-05-30
31  Natália Ferreira   51.0           NaN      F     RJ       2023-05-30
32    Fernando Rocha   53.0        194.35      F     AM       2023-02-20
33       Cíntia Dias   32.0        436.26    NaN     RS       2023-01-15
34  Cláudio Oliveira   40.0         57.46      M     BA       2023-05-30
35  Jéssica Monteiro   57.0         93.28      M     SP       2023-03-10
36     Sérgio Mendes   62.0        282.99      M     MG       2023-03-10
37     Bianca Duarte   41.0        483.00      M     SC       2023-04-25
38       Renato Lima   62.0        444.80      F     SP       2023-04-25
39      Érica Santos   32.0        128.73      M     SP       2023-05-30
40      Hugo Almeida    NaN         51.00      M     AM       2023-05-30
41      Juliana Rios   41.0           NaN   Masc     SC       2023-05-30
42    Bruno Carvalho   25.0        134.92    Fem     SP       2023-04-25
43      Débora Matos   28.0           NaN      M     MG       2023-05-30
44    Samuel Tavares   25.0        232.03      M     MG       2023-04-25
45  Elaine Gonçalves   50.0           NaN      F     SC       2023-03-10
46     César Moreira   59.0        322.89      M     RJ       2023-01-15
47     Tatiane Lopes    NaN        473.06      M     SP       2023-05-30
48       Fábio Assis   26.0        122.36      M     SP       2023-05-30
49     Viviane Nunes   51.0        251.79      M     MG       2023-04-25
50       Robson Lima   40.0        370.48   Masc     SC       2023-05-30
40      Hugo Almeida    NaN         51.00      M     AM       2023-05-30
10    Fernanda Alves   38.0         84.64      F     PR       2023-04-25
43      Débora Matos   28.0           NaN      M     MG       2023-05-30
44    Samuel Tavares   25.0        232.03      M     MG       2023-04-25
29   Larissa Ribeiro   21.0        158.97    NaN     RJ       2023-01-15

In [30]:
#Verificando os valores únicos da coluna
df['Gênero'].unique()

array(['M', 'F', nan, 'Fem', 'Masc'], dtype=object)

In [31]:
#Ajustando a coluna gênero
df['Gênero'] = df['Gênero'].replace({'Fem':'F', 'Masc':'M'})

In [32]:
df.isnull().sum()

Nome                0
Idade               4
Gasto Mensal        8
Gênero              5
Estado              0
Data de Cadastro    0
dtype: int64

In [33]:
#Pesquisando quem tem o gênero nulo
df.loc[df['Gênero'].isna()]

                Nome  Idade  Gasto Mensal Gênero Estado Data de Cadastro
ID
11      Marcos Pinto   39.0           NaN    NaN     SP       2023-03-10
24  Leonardo Almeida   61.0        170.05    NaN     PE       2023-04-25
29   Larissa Ribeiro   21.0        158.97    NaN     RJ       2023-01-15
33       Cíntia Dias   32.0        436.26    NaN     RS       2023-01-15
29   Larissa Ribeiro   21.0        158.97    NaN     RJ       2023-01-15

In [34]:
#Resulver os nulos
df.loc[df['Nome']=='Marcos Pinto', 'Gênero'] = 'M' 
df.loc[df['Nome']=='Leonardo Almeida', 'Gênero'] = 'M' 
df.loc[df['Nome']=='Larissa Ribeiro', 'Gênero'] = 'F' 
df.loc[df['Nome']=='Cíntia Dias', 'Gênero'] = 'F' 
df.loc[df['Nome']=='Larissa Ribeiro', 'Gênero'] = 'F'

In [35]:
#Apagando as linhas duplicadas
print(df.shape)
df = df.drop_duplicates()
print(df.shape)

(55, 6)
(50, 6)

In [36]:
df.loc[df['Nome']=='Larissa Ribeiro']

               Nome  Idade  Gasto Mensal Gênero Estado Data de Cadastro
ID
29  Larissa Ribeiro   21.0        158.97      F     RJ       2023-01-15

In [37]:
#Preenchendo as idades
df['Idade'] = df['Idade'].fillna(df['Idade'].median())
df

C:\Users\rodri\AppData\Local\Temp\ipykernel_5804\2664071131.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Idade'] = df['Idade'].fillna(df['Idade'].median())

                Nome  Idade  Gasto Mensal Gênero Estado Data de Cadastro
ID
1          Ana Souza   56.0        349.67      M     SP       2023-01-15
2        Carlos Lima   32.0        449.25      M     SC       2023-05-30
3         Maria Melo   38.0           NaN      F     PR       2023-03-10
4         João Silva   36.0        302.57      F     RJ       2023-02-20
5       Juliana Dias   28.0         68.20      M     MG       2023-01-15
6        Lucas Rocha   53.0         61.44      F     RJ       2023-01-15
7         Paula Reis   20.0        336.38      F     PR       2023-05-30
8      Ricardo Sousa   19.0        362.98      F     SP       2023-04-25
9       Amanda Costa   47.0        292.93      M     SP       2023-03-10
10    Fernanda Alves   38.0         84.64      F     PR       2023-04-25
11      Marcos Pinto   39.0           NaN      M     SP       2023-03-10
12      Bruno Santos   42.0        335.03      F     SP       2023-04-25
13   Letícia Moreira   59.0           NaN      F     MG       2023-01-15
14      Thiago Nunes   33.0        292.70      F     SP       2023-03-10
15   Vanessa Freitas   64.0        458.07      M     PE       2023-01-15
16     Diego Martins   61.0        242.20      F     SP       2023-01-15
17     Roberta Lopes   20.0        187.15      F     PR       2023-02-20
18     Gustavo Ramos   24.0        237.83      M     MG       2023-01-15
19    Patrícia Souza   56.0        201.00      M     SC       2023-01-15
20    Pedro Henrique   40.0        195.44      F     RJ       2023-02-20
21    Camila Andrade   26.0        367.00      F     SP       2023-05-30
22     Rafael Vieira   19.0        483.10      F     AM       2023-01-15
23     Isabela Moura   64.0        162.00      M     BA       2023-01-15
24  Leonardo Almeida   61.0        170.05      M     PE       2023-04-25
25    Tatiane Mendes   64.0        273.00      F     RJ       2023-05-30
26    Felipe Barbosa   34.0        157.80      M     SP       2023-02-20
27  Alessandra Costa   57.0        251.50      M     RJ       2023-03-10
28   Rodrigo Cardoso   23.0        352.46      F     RS       2023-04-25
29   Larissa Ribeiro   21.0        158.97      F     RJ       2023-01-15
30    Eduardo Campos   35.0        334.54      M     BA       2023-05-30
31  Natália Ferreira   51.0           NaN      F     RJ       2023-05-30
32    Fernando Rocha   53.0        194.35      F     AM       2023-02-20
33       Cíntia Dias   32.0        436.26      F     RS       2023-01-15
34  Cláudio Oliveira   40.0         57.46      M     BA       2023-05-30
35  Jéssica Monteiro   57.0         93.28      M     SP       2023-03-10
36     Sérgio Mendes   62.0        282.99      M     MG       2023-03-10
37     Bianca Duarte   41.0        483.00      M     SC       2023-04-25
38       Renato Lima   62.0        444.80      F     SP       2023-04-25
39      Érica Santos   32.0        128.73      M     SP       2023-05-30
40      Hugo Almeida   40.0         51.00      M     AM       2023-05-30
41      Juliana Rios   41.0           NaN      M     SC       2023-05-30
42    Bruno Carvalho   25.0        134.92      F     SP       2023-04-25
43      Débora Matos   28.0           NaN      M     MG       2023-05-30
44    Samuel Tavares   25.0        232.03      M     MG       2023-04-25
45  Elaine Gonçalves   50.0           NaN      F     SC       2023-03-10
46     César Moreira   59.0        322.89      M     RJ       2023-01-15
47     Tatiane Lopes   40.0        473.06      M     SP       2023-05-30
48       Fábio Assis   26.0        122.36      M     SP       2023-05-30
49     Viviane Nunes   51.0        251.79      M     MG       2023-04-25
50       Robson Lima   40.0        370.48      M     SC       2023-05-30

In [38]:
#Preenchendo o gsto mensal
df['Gasto Mensal'] = df['Gasto Mensal'].fillna(df['Gasto Mensal'].mean())
df

C:\Users\rodri\AppData\Local\Temp\ipykernel_5804\2030953559.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Gasto Mensal'] = df['Gasto Mensal'].fillna(df['Gasto Mensal'].mean())

                Nome  Idade  Gasto Mensal Gênero Estado Data de Cadastro
ID
1          Ana Souza   56.0    349.670000      M     SP       2023-01-15
2        Carlos Lima   32.0    449.250000      M     SC       2023-05-30
3         Maria Melo   38.0    261.565116      F     PR       2023-03-10
4         João Silva   36.0    302.570000      F     RJ       2023-02-20
5       Juliana Dias   28.0     68.200000      M     MG       2023-01-15
6        Lucas Rocha   53.0     61.440000      F     RJ       2023-01-15
7         Paula Reis   20.0    336.380000      F     PR       2023-05-30
8      Ricardo Sousa   19.0    362.980000      F     SP       2023-04-25
9       Amanda Costa   47.0    292.930000      M     SP       2023-03-10
10    Fernanda Alves   38.0     84.640000      F     PR       2023-04-25
11      Marcos Pinto   39.0    261.565116      M     SP       2023-03-10
12      Bruno Santos   42.0    335.030000      F     SP       2023-04-25
13   Letícia Moreira   59.0    261.565116      F     MG       2023-01-15
14      Thiago Nunes   33.0    292.700000      F     SP       2023-03-10
15   Vanessa Freitas   64.0    458.070000      M     PE       2023-01-15
16     Diego Martins   61.0    242.200000      F     SP       2023-01-15
17     Roberta Lopes   20.0    187.150000      F     PR       2023-02-20
18     Gustavo Ramos   24.0    237.830000      M     MG       2023-01-15
19    Patrícia Souza   56.0    201.000000      M     SC       2023-01-15
20    Pedro Henrique   40.0    195.440000      F     RJ       2023-02-20
21    Camila Andrade   26.0    367.000000      F     SP       2023-05-30
22     Rafael Vieira   19.0    483.100000      F     AM       2023-01-15
23     Isabela Moura   64.0    162.000000      M     BA       2023-01-15
24  Leonardo Almeida   61.0    170.050000      M     PE       2023-04-25
25    Tatiane Mendes   64.0    273.000000      F     RJ       2023-05-30
26    Felipe Barbosa   34.0    157.800000      M     SP       2023-02-20
27  Alessandra Costa   57.0    251.500000      M     RJ       2023-03-10
28   Rodrigo Cardoso   23.0    352.460000      F     RS       2023-04-25
29   Larissa Ribeiro   21.0    158.970000      F     RJ       2023-01-15
30    Eduardo Campos   35.0    334.540000      M     BA       2023-05-30
31  Natália Ferreira   51.0    261.565116      F     RJ       2023-05-30
32    Fernando Rocha   53.0    194.350000      F     AM       2023-02-20
33       Cíntia Dias   32.0    436.260000      F     RS       2023-01-15
34  Cláudio Oliveira   40.0     57.460000      M     BA       2023-05-30
35  Jéssica Monteiro   57.0     93.280000      M     SP       2023-03-10
36     Sérgio Mendes   62.0    282.990000      M     MG       2023-03-10
37     Bianca Duarte   41.0    483.000000      M     SC       2023-04-25
38       Renato Lima   62.0    444.800000      F     SP       2023-04-25
39      Érica Santos   32.0    128.730000      M     SP       2023-05-30
40      Hugo Almeida   40.0     51.000000      M     AM       2023-05-30
41      Juliana Rios   41.0    261.565116      M     SC       2023-05-30
42    Bruno Carvalho   25.0    134.920000      F     SP       2023-04-25
43      Débora Matos   28.0    261.565116      M     MG       2023-05-30
44    Samuel Tavares   25.0    232.030000      M     MG       2023-04-25
45  Elaine Gonçalves   50.0    261.565116      F     SC       2023-03-10
46     César Moreira   59.0    322.890000      M     RJ       2023-01-15
47     Tatiane Lopes   40.0    473.060000      M     SP       2023-05-30
48       Fábio Assis   26.0    122.360000      M     SP       2023-05-30
49     Viviane Nunes   51.0    251.790000      M     MG       2023-04-25
50       Robson Lima   40.0    370.480000      M     SC       2023-05-30

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 1 to 50
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nome              50 non-null     object
 1   Idade             50 non-null     float64
 2   Gasto Mensal      50 non-null     float64
 3   Gênero            50 non-null     object
 4   Estado            50 non-null     object
 5   Data de Cadastro  50 non-null     object
dtypes: float64(2), object(4)
memory usage: 2.7+ KB

In [41]:
#Exportar para um csv
df.to_csv('dados_processados.csv')